<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="services" type="WebTestClient.ServiceSection, WebTestClient"/>
  </configSections>
  <services xmlns="https://raw.githubusercontent.com/AmalgamationConsulting/WebTestClient/master/WebTestClient/Configuration.xsd">
    <application name="Example">
      <service name="Example Get" address="https://example.com/" method="GET"/>
      <service name="Example Post" address="https://example.com/" method="POST" contentType="application/x-www-form-urlencoded" entityBody="Test=Value"/>
    </application>
  </services>
</configuration>
